<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong translate="SIGN_UP_ID">Sign up</strong>
            </div>
            <div class="panel-body">
                <form name="signupForm" class="form-horizontal" role="form" ng-submit="signup(signupForm.$valid)" novalidate>
                    <div class="form-group" class="form-group" ng-class="{'has-error': signupForm.name.$invalid && (signupForm.name.$touched || signupFormInvalid) || signupForm.name.$error.maxlength}">
                        <label for="name" class="col-sm-2 control-label" translate="NAME_ID">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="{{'NAME_ID' | translate}}"
                                   ng-model="name" required ng-maxlength="250">
                            <p ng-show="signupForm.name.$invalid && (signupForm.name.$touched || signupFormInvalid)" class="help-block">Name is required.</p>
                            <p ng-show="signupForm.name.$error.maxlength" class="help-block">Name is too long.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': signupForm.email.$invalid && (signupForm.email.$touched || signupFormInvalid)}">
                        <label for="email" class="col-sm-2 control-label" translate="EMAIL_ID">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="{{'EMAIL_ID' | translate}}"
                                   ng-model="email" required>
                            <p ng-show="signupForm.email.$invalid && (signupForm.email.$touched || signupFormInvalid)" class="help-block">Valid e-mail is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label" translate="PASSWORD_ID">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="{{'PASSWORD_ID' | translate}}" ng-model="password" required><password-strength check-strength="password"></password-strength>
                        </div>
                    </div>
                    <div class="form-group"ng-class="{'has-error': signupForm.password_confirmation.$error.passwordMismatch && (signupForm.password_confirmation.$touched || signupFormInvalid) || signupForm.name.$error.maxlength}">
                        <label for="password_confirmation" class="col-sm-2 control-label" translate="PASSWORD_CONFIRM_ID">Confirm Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
                                   placeholder="{{'PASSWORD_CONFIRM_ID' | translate}}" ng-model="password_confirmation" confirm-password="password">
                            <p ng-show="signupForm.password_confirmation.$error.passwordMismatch && (signupForm.password_confirmation.$touched || signupFormInvalid)" class="help-block">Passwords don't match.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right" translate="SIGN_UP_ID">Sign up</button>
                        </div>
                    </div>
                    <p data-ng-show="error" class="error">{{ error }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
