<!DOCTYPE html>
<html ng-app="truxApp">
<head>
    <meta charset="UTF-8">
    <base href="/"/>
    <title>Trux</title>
    <link rel="stylesheet" href="css/app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
    <script src="js/third-party/loading-bar.js"></script>
    <script src="js/third-party/angular-translate.js"></script>
    <script src="js/third-party/angular-translate-loader-partial.js"></script>
    <script src="modules/directives/password-strength.js"></script>
    <script src="modules/directives/confirm-password.js"></script>
    <script src="modules/auth/services.js"></script>
    <script src="modules/auth/controllers.js"></script>
    <script src="modules/search/services.js"></script>
    <script src="modules/search/controllers.js"></script>
    <script src="modules/vehicles/services.js"></script>
    <script src="modules/vehicles/controllers.js"></script>
    <script src="js/main.js"></script>
    <!-- Above scripts are minimized into js/app.js by the gulp task -->
    <!--script src="js/app.js"></script-->
</head>
<body>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="/">Trux</a>
    </div>
    <div class="navbar-collapse collapse" data-ng-controller="AuthController">
        <ul class="nav navbar-nav navbar-right ng-cloak" ng-cloak>
            <li data-ng-show="token" class="ng-hide"><a ng-href="/account" translate="ACCOUNT_ID"></a></li>
            <li data-ng-hide="token"><a ng-href="/signin" translate="SIGN_IN_ID"></a></li>
            <li data-ng-hide="token"><a ng-href="/signup" translate="SIGN_UP_ID"></a></li>
            <li data-ng-show="token" class="ng-hide"><a ng-click="logout()" translate="LOGOUT_ID"></a></li>
        </ul>
        <div data-ng-controller="TranslateController" class="nav navbar-nav navbar-right ng-cloak" ng-cloak>
            <select ng-change="changeLanguage()"
                    ng-options="lang.id as lang.label for lang in languages"
                    ng-model="currentLanguage"></select>
        </div>
    </div>
    <div class="container" ng-view=""></div>
</body>
</html>
